.header {
    width: 100%;
    padding-top: 30px;
    background: #ef9a12;
	height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin-left:50px;
  }