{% extends 'bank/base.html' %}

{% block content %}
<h1>Hello {{ user.username }} it's transfer <br></h1>
<h2>Enter the parameters of your card from which you want to transfer funds<br></h2>
<h2>Enter the phone number to which you want to transfer funds and how many</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
</form>



{% endblock %}
